.wp-block-group {
    box-sizing: border-box
}

.wp-block-themepunch-revslider {
    position: relative
}

rs-module i[class^="fa-"] {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

rs-module [class^="fa-"]:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: auto;
    margin-right: 0;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: inherit;
    margin-left: 0
}

rs-module-wrap {
    visibility: hidden
}

rs-module-wrap, rs-module-wrap * {
    box-sizing: border-box
}

rs-module-wrap {
    position: relative;
    z-index: 1;
    width: 100%;
    display: block
}

rs-fw-forcer {
    display: block;
    width: 100%
}

rs-module {
    position: relative;
    overflow: hidden;
    display: block
}

rs-sbg {
    display: block
}

rs-sbg-px, rs-sbg-wrap {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block
}

a.rs-layer, a.rs-layer:-webkit-any-link {
    text-decoration: none
}

rs-module a {
    box-shadow: none
}

rs-module img {
    max-width: none !important;
    margin: 0px;
    padding: 0px;
    border: none
}

rs-slides, rs-slide, rs-slide:before {
    position: absolute;
    text-indent: 0em;
    top: 0px;
    left: 0px
}

rs-slide, rs-slide:before {
    display: block;
    visibility: hidden
}

rs-module rs-layer, rs-module .rs-layer {
    opacity: 0;
    position: relative;
    visibility: hidden;
    white-space: nowrap;
    display: block;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    z-index: 1
}

rs-module rs-mask-wrap .rs-layer, rs-module rs-mask-wrap *:last-child {
    margin-bottom: 0
}

rs-layer:not(.rs-wtbindex), .rs-layer:not(.rs-wtbindex), .rs-layer *:not(.rs-wtbindex) {
    outline: none !important
}

rs-bg-elem {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: block
}

rs-layer-wrap, rs-loop-wrap, rs-mask-wrap {
    display: block
}

rs-layer-wrap, rs-mask-wrap {
    transform-style: flat
}

@-moz-document url-prefix() {
    rs-layer-wrap, rs-mask-wrap {
        perspective: none
    }
}

rs-mask-wrap {
    overflow: hidden
}

rs-fullwidth-wrap {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    overflow: visible;
    max-width: none !important
}

.rs-layer img, rs-layer img {
    vertical-align: top
}

rs-static-layers {
    position: absolute;
    z-index: 101;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.rev-btn, .rev-btn:visited {
    outline: none !important;
    box-shadow: none;
    text-decoration: none !important;
    box-sizing: border-box
}

.rev-burger {
    position: relative;
    box-sizing: border-box;
    padding: 22px 14px 22px 14px;
    border-radius: 50%;
    border: 1px solid rgba(51, 51, 51, 0.25)
}

.rev-burger span {
    display: block;
    width: 30px;
    height: 3px;
    background: #333;
    transform-style: flat !important
}

.rev-burger span:nth-child(2) {
    margin: 3px 0
}

.rev-b-span-light span {
    background: #fff
}

rs-progress {
    visibility: hidden;
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%
}

rs-progress-bar {
    display: block;
    z-index: 20;
    box-sizing: border-box;
    background-clip: content-box;
    position: absolute;
    vertical-align: top;
    line-height: 0px;
    width: 100%;
    height: 100%
}

.rs-layer img {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF)
}

rs-sbg canvas {
    overflow: hidden;
    z-index: 5;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}