@font-face {
    font-family: 'Agency';
    src: url('../fonts/AGENCYR.TTF') format('truetype')
}

@font-face {
    font-family: 'Agency-Bold';
    src: url('../fonts/AGENCYR.TTF') format('truetype')
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.mpl-cursor-enabled * {
    cursor: none !important;
}

.mpl-cursor, .mpl-cursor-outer {
    position: fixed;
    top: -12px;
    left: -12px;
    width: 24px;
    height: 24px;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: .25;
    -webkit-transition: width .2s ease, height .2s ease, top .2s ease, left .2s ease, background-color .2s ease, opacity .2s ease;
    -o-transition: width .2s ease, height .2s ease, top .2s ease, left .2s ease, background-color .2s ease, opacity .2s ease;
    transition: width .2s ease, height .2s ease, top .2s ease, left .2s ease, background-color .2s ease, opacity .2s ease;
    will-change: transform, width, height, top, left, background-color, opacity;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 9999999
}

.mpl-cursor-outer.mpl-cursor-hover {
    top: -25px;
    left: -25px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    opacity: .1
}

.mpl-cursor {
    top: -2px;
    left: -2px;
    width: 4px;
    height: 4px;
    background-color: #fff;
    border: none;
    opacity: 1
}

.mpl-cursor.mpl-cursor-hover {
    top: -4px;
    left: -4px;
    width: 8px;
    height: 8px
}


canvas.animation_haze {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    visibility: visible;
}

.disableHaze {
    position: relative;
    z-index: 1;
    background: #191919;
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format("woff2")
}

rs-module .material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: top;
    line-height: inherit;
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale
}

rs-fullwidth-wrap {
    z-index: 2;
}

@font-face {
    font-family: SpaceGrotesk;
    src: url(./../fonts/SpaceGrotesk-Regular.ttf);
}

@font-face {
    font-family: SpaceGrotesk_Bold;
    src: url(./../fonts/SpaceGrotesk-Bold.ttf);
}

.contact_block {
    font-family: "SpaceGrotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 17px;
    letter-spacing: .3px;
    padding: 50px 0;
    position: relative;
    background-image: url(./../images/lines.png);
    background-position: -400px 700px;
    background-size: 650px 475px;
    background-repeat: no-repeat;
    background-color: #000000;
}

.contact_block .hero_page {
    position: relative;
}

@media only screen and (min-width: 1510px) {
    .contact_block .container {
        max-width: 1280px;
    }
}

@media screen and (max-width: 768px) {
    .contact_block .container {
        max-width: 800px !important;
    }
}

@media screen and (max-width: 1400px) {
    .contact_block .container {
        max-width: 1200px;
    }
}

.contact_block .hero_page .hero_wrap {
    margin: 100px 0;
}

.contact_block h1 {
    color: white;
    font-size: 72px;
    line-height: 1;
    letter-spacing: -0.03em;
    clear: both;
    font-family: "SpaceGrotesk_Bold", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-weight: bold;
    text-align: inherit;
    position: relative;
}

.contact_block .text-left {
    text-align: left !important;
}

.contact_block .hero_page .hero_wrap .outline_text {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 10rem;
    color: #ffffff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    line-height: 0;
    text-align: right;
}

.contact_block h2 {
    letter-spacing: -0.02em;
    clear: both;
    font-family: "SpaceGrotesk_Bold", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.contact_block .lines_effect {
    overflow: hidden;
}

.contact_block .lines_effect img {
    position: absolute;
    top: 40%;
    left: -30rem;
    width: 50rem;
}

.contact_block label {
    color: #77748f;
    display: inline-block;
    margin-bottom: .5rem;
}

.contact_block input[type="text"], .contact_block input[type="password"], .contact_block input[type="email"], .contact_block input[type="tel"], .contact_block input[type="number"], .contact_block select, .contact_block textarea {
    background: 0 0 !important;
    background-color: rgba(0, 0, 0, 0) !important;
    color: #232226;
    border: 1px solid transparent !important;
    border-bottom: solid 2px #413a4d !important;
    width: 100%;
    padding: 30px 15px;
    line-height: 1.3;
    font-size: inherit;
    border-radius: 4px;
    position: relative;
    -webkit-appearance: none;
    box-shadow: 0 7px 9px rgba(29, 14, 98, 0.05);
    -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    outline: 0;
    font-weight: normal;
    font-family: inherit;
}

.contact_block .card_grad {
    background: linear-gradient(135deg, #2fc4d1 0%, #4f54f1 50%, #c86dd7 100%);
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 30px;
}

.contact_block .card_grad p {
    color: white !important;
    width: 100%;
    margin: 10px auto;
    display: block;
}

.contact_block .btn-primary:hover {
    outline: none;
    background: #5048ff !important;
    border: solid 2px #5A52FF;
    color: #fff;
    box-shadow: inherit;
    opacity: .9;
    text-decoration: none;
}

.contact_block .form-control:focus {
    color: #495057 !important;
    outline: 0 !important;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25) !important;
}


.btn-primary {
    background: #5A52FF;
    color: #fff !important;
    border: 2px solid transparent;
    padding-bottom: 3px;
    margin-bottom: 50px;
    font-family: "SpaceGrotesk_Bold", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    font-weight: 600;
}

.section-title span.subtitle.big {
    font-size: 50px !important;
    line-height: 50px !important;
}