<template>
  <div class="content-wrap">
    <p class="rs-p-wp-fix"></p>
    <rs-module-wrap id="rev_slider_1030_1_wrapper" data-source="gallery" style="background:#000000;padding:0;">
      <rs-module id="rev_slider_1030_1" class="rs-respect-topbar" style="" data-version="6.4.10">
        <rs-slides>
          <rs-slide data-key="rs-2099" data-title="Slide" data-duration="12000ms" data-in="o:0;"
                    data-out="a:false;">
            <img src="@/assets/images/transparent.png"
                 alt="Slide" title="Atlas swap slider" class="rev-slidebg tp-rs-img" data-no-retina>

            <rs-group
                id="slider-1030-slide-2099-layer-5"
                data-type="group"
                data-rsp_ch="on"
                data-xy="x:c;y:m;"
                data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                data-dim="w:100%;h:300px,247px,187px,115px;"
                data-sba="t:false;"
                data-ford="frame_0;frame_1;frame_2;frame_999;"
                data-frame_0="sX:0.5;sY:0.5;blu:20px;"
                data-frame_1="sX:0.75;sY:0.75;e:power3.in;st:500;sp:1000;sR:500;"
                data-frame_999="o:0;st:w;sR:9500;sA:12000;"
                data-frame_2="sX:1;sY:1;oX:50%;oY:50%;oZ:0;tp:600;e:power3.out;st:1500;sp:1000;"
                style="z-index:13;"
            >
              <rs-layer
                  id="slider-1030-slide-2099-layer-1"
                  data-type="text"
                  data-rsp_ch="on"
                  data-xy="x:c;y:m;"
                  data-text="w:normal;s:130,107,81,49;l:110,90,68,41;fw:800;a:center;"
                  data-dim="w:100%;"
                  data-sba="t:true;"
                  data-ford="frame_0;frame_1;frame_2;frame_999;"
                  data-frame_0="o:1;c:#ffcc00;"
                  data-frame_0_chars="d:5;"
                  data-frame_1="e:power4.inOut;c:#00d0e2;"
                  data-frame_1_chars="d:1;blu:0.05;"
                  data-frame_999="o:0;st:w;sR:6900;"
                  data-frame_2="y:50px,41px,31px,19px;sX:1.65;sY:1.65;o:1;oX:50%;oY:50%;oZ:0;tp:600;e:sine.in;st:1500;sp:2000;sR:1040;c:#00d0e2;"
                  data-frame_2_chars="e:sine.inOut;dir:random;d:10;z:200px;sX:1;sY:1;o:0;oX:50%;oY:50%;oZ:50%;gra:0;bri:100;blu:20px;"
                  style="z-index:11;font-family:Montserrat;"
              >Atlas DEX Swap
              </rs-layer>
              <rs-layer
                  id="slider-1030-slide-2099-layer-3"
                  data-type="text"
                  data-rsp_ch="on"
                  data-xy="x:c;y:m;yo:-100px,-123px,-93px,-57px;"
                  data-text="w:normal;s:40,33,25,15;l:40,33,25,15;ls:5px,4px,3px,1px;"
                  data-sba="t:true;"
                  data-padding="l:5,4,3,2;"
                  data-ford="frame_0;frame_1;frame_2;frame_999;"
                  data-frame_0="o:1;"
                  data-frame_0_chars="d:5;"
                  data-frame_1_chars="d:1;"
                  data-frame_999="o:0;st:w;sR:6600;"
                  data-frame_2="y:-50px,-41px,-31px,-19px;sX:1.65;sY:1.65;o:1;oX:50%;oY:50%;oZ:0;tp:600;e:sine.in;st:1500;sp:2000;sR:1010;"
                  data-frame_2_chars="e:sine.inOut;dir:random;d:10;z:300px;sX:1;sY:1;o:0;oX:50%;oY:50%;oZ:50%;gra:0;bri:100;blu:20px;"
                  style="z-index:12;font-family:Montserrat;text-transform:uppercase;"
              >WELCOME TO
              </rs-layer>
            </rs-group>
            <rs-layer
                id="slider-1030-slide-2099-layer-4"
                data-type="text"
                data-rsp_ch="on"
                data-xy="x:c;y:m;yo:100px,82px,62px,38px;"
                data-text="w:normal;s:40,33,25,15;l:40,33,25,15;a:center;"
                data-dim="w:100%;"
                data-sba="t:true;"
                data-frame_0="sX:0.5;sY:0.5;o:1;"
                data-frame_0_chars="d:5;z:-300px;o:0;blu:20px;"
                data-frame_1="e:sine.inOut;st:5000;sp:1000;sR:5000;"
                data-frame_1_chars="e:sine.inOut;dir:random;d:10;"
                data-frame_999="o:0;st:w;sR:3700;"
                style="z-index:9;font-family:Montserrat;"
            ><br/><br/><br/><br/><br/><br/>DEVELOPERS OF THE <b>INSIDER PROTOCOL</b>
            </rs-layer>
            <rs-layer
                id="slider-1030-slide-2099-layer-7"
                data-type="text"
                data-rsp_ch="on"
                data-xy="x:c;y:m;yo:-50px,-41px,-31px,-19px;"
                data-text="w:normal;s:130,107,81,49;l:110,90,68,41;fw:800;a:center;"
                data-dim="w:100%;"
                data-sba="t:true;"
                data-ford="frame_0;frame_1;frame_2;frame_999;"
                data-frame_0="sX:0.5;sY:0.5;o:1;c:#ffcc00;"
                data-frame_0_chars="d:5;z:-300px;o:0;blu:20px;"
                data-frame_1="e:sine.inOut;st:5000;sp:1000;sR:5000;c:#ffcc00;"
                data-frame_1_chars="e:sine.inOut;dir:random;d:10;"
                data-frame_999="o:0;st:w;sR:1650;"
                data-frame_2="oX:50%;oY:50%;oZ:0;tp:600;st:7900;sp:1500;c:#00d0e2;"
                data-frame_2_chars="d:5;sX:1;sY:1;oX:50%;oY:50%;oZ:0;"
                style="z-index:10;font-family:Montserrat;"
            ><span class="big_text">MECHANICS</span><br/>
              <span class="big_text">of the FUTURE</span>
            </rs-layer>
            <rs-layer
                id="slider-1030-slide-2099-layer-11"
                class="tp-shape tp-shapewrapper tp-lottie"
                data-type="shape"
                data-rsp_ch="on"
                data-xy="x:c;y:b;yo:100px,82px,62px,38px;"
                data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
                data-dim="w:100px,82px,70px,70px;h:100px,82px,70px,70px;"
                data-actions='o:click;a:scrollbelow;sp:5000ms;e:none;'
                data-basealign="slide"
                data-frame_0="y:50,41,31,19;"
                data-frame_1="st:2000;sp:1000;sR:2000;"
                data-frame_999="o:0;st:w;sR:9000;"
                data-lottie='{"jsonUrl":".\/slider\/js/389-scroll-down-1-auto.json","duration":917,"autoplay":true,"respectTlStart":false,"endlessLoop":true,"reverse":false,"repeat":-1,"type":"svg","size":"contain","progressiveLoad":false,"hideTransparent":false,"interType":"disabled","lerp":0,"easeType":"default","continuePlaying":false,"scrollActions":false,"scrollLerp":0.1,"editorEnabled":true,"meta":{"w":500,"h":500,"layers":{"comp_0":{"fields":[],"layerName":false,"assetName":"comp_0"},"layer1":{"refId":"comp_0","fields":[],"layerName":"Watermark","assetName":false},"layer2":{"refId":[],"fields":[{"name":"Primary","level":3,"type":"color","lType":"PrimaryColor","isEffect":true,"val":[1,1,1,1],"layer":"Color  & Stroke Change","path":"layers.1.ef.0.ef.0"},{"name":"Secondary","level":3,"type":"color","lType":"SecondaryColor","isEffect":true,"val":[1,1,1,1],"layer":"Color  & Stroke Change","path":"layers.1.ef.1.ef.0"},{"name":"Stroke","level":3,"type":"stroke","lType":"Stroke","isEffect":true,"val":70,"layer":"Color  & Stroke Change","path":"layers.1.ef.2.ef.0"}],"layerName":"Color  & Stroke Change","assetName":false},"layer3":{"refId":[],"fields":[],"layerName":"NULL 2","assetName":false},"layer4":{"refId":[],"fields":[],"layerName":"NULL","assetName":false},"layer5":{"refId":[],"fields":[{"type":"st","name":"Stroke 1","hasEffect":true,"level":3,"lKey":"layer5","val":[0.03137254902,0.658823529412,0.541176470588,1],"timeBased":false,"stroke":3,"layer":"Shape Layer 6","path":"layers.4.shapes.0.it.1"},{"type":"fl","name":"Fill 1","hasEffect":false,"level":2,"lKey":"layer5","val":[1,1,1,1],"timeBased":false,"layer":"Shape Layer 6","path":"layers.4.shapes.1"}],"layerName":"Shape Layer 6","assetName":false},"layer6":{"refId":[],"fields":[{"type":"st","name":"Stroke 1","hasEffect":true,"level":3,"lKey":"layer6","val":[0.03137254902,0.658823529412,0.541176470588,1],"timeBased":false,"stroke":3,"layer":"Shape Layer 5","path":"layers.5.shapes.0.it.1"}],"layerName":"Shape Layer 5","assetName":false}},"ef":true,"refs":["comp_0"],"changedGroup":{"colors":{"#121331":"#ffffff","#08a88a":"#ffffff"},"strokes":[]}}}'
                style="z-index:14;cursor:pointer;"
            >
            </rs-layer>
          </rs-slide>
        </rs-slides>
        <rs-static-layers>
          <rs-layer
              id="slider-1030-slide-841-layer-scrollvideo"
              class="rs-layer-static"
              data-type="shape"
              data-rsp_ch="on"
              data-xy="x:c;y:m;"
              data-dim="w:100%;h:100%;"
              data-basealign="slide"
              data-sba="t:false;"
              data-onslides="s:-1;e:-1;"
              data-frame_999="o:0;st:w;"
              style="z-index:4;"
          >
          </rs-layer>
        </rs-static-layers>
      </rs-module>
    </rs-module-wrap>
  </div>
</template>

<script>

export default {
  name: "Animation",
  created() {
    try {
      import ('./../slider/slider');
      // eslint-disable-next-line no-empty
    } catch (e) {
    }

    let limit = 0;

    const interval = setInterval(() => {
      limit += 1000;

      if (window.sliderLoaded || limit >= 10000) {
        clearInterval(interval);

        setTimeout(() => {
          this.$emit('loaded');
        }, 3000);
      }
    }, 1000);
  }
}
</script>

<style scoped>
.big_text {
  font-size: 80px !important;
  font-weight: bold;
}

.small_text {
  font-size: 30px !important;
  font-weight: normal;
}

@media (max-width: 1000px) {
  .big_text {
    font-size: 8.5vw !important;
  }

  .small_text {
    font-size: 3.5vw !important;
    font-weight: normal;
  }
}
</style>