<template>
  <div class="contact_block disableHaze" id="contact_ref_id">
    <div class="hero_page has_style1">
      <div class="spacer_header"></div>
      <div class="container">
        <div class="hero_wrap">
          <h1 class="hero_title text-left  ml-0"> Contact
          </h1>
        </div>
      </div>
    </div>

    <div class="block_contact_form">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="content">
              <form @submit.prevent="send">
                <div class="form-group">
                  <div v-if="sent" class="message_sent">Your message has been sent.</div>
                  <div v-if="error" class="message_sending_error">Error sending message.</div>
                </div>
                <div class="form-row">
                  <div class="col col-lg-6 col-md-12 col-sm-12">
                    <div class="form-group">
                      <label>Your name *</label>
                      <input type="text" class="form-control" v-model="form.name">
                      <div class="form_error_item" v-if="errors && errors.name">{{ errors.name[0] }}</div>
                    </div>
                  </div>
                  <div class="col col-lg-6 col-md-12 col-sm-12">
                    <div class="form-group">
                      <label>Your email *</label>
                      <input type="email" class="form-control" v-model="form.email">
                      <div class="form_error_item" v-if="errors && errors.email">{{ errors.email[0] }}</div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Subject *</label>
                  <input type="text" class="form-control" v-model="form.subject">
                  <div class="form_error_item" v-if="errors && errors.subject">{{ errors.subject[0] }}</div>
                </div>
                <div class="form-group">
                  <label for="messagesInput">Your messages *</label>
                  <textarea id="messagesInput" cols="30" rows="6" class="form-control"
                            v-model="form.message"></textarea>
                  <div class="form_error_item" v-if="errors && errors.message">{{ errors.message[0] }}</div>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
              </form>
              <div class="social">
                <a href="https://twitter.com/atlas_dex_swap" target="_blank" class="btn btn-primary" data-v-0b0fe05c="">Twitter</a>
                <a href="https://t.me/atlasdexswap" target="_blank" class="btn btn-primary" data-v-0b0fe05c="">Telegram</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="copyright">© {{(new Date()).getFullYear() }} Atlas DEX Swap by the Mechanics of the Future</div>
  </div>
</template>

<script>
export default {
  name: 'Contacts',
  data() {
    return {
      sending: false,
      sent: false,
      form: {
        name: null,
        email: null,
        subject: null,
        message: null,
      },
      error: false,
      errors: null,
    }
  },
  methods: {
    async send() {
      if(this.sending) {
        return;
      }

      this.sending = true;
      this.sent = false;

      try {
        const response = await fetch(this.insiderApi + 'external/contact/main', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-type': 'application/json',
          },
          credentials: 'include',
          body: JSON.stringify(this.form)
        });

        const data = await response.json();

        if (response.status === 422) {
          this.errors = data.errors;
        } else if (!response.ok) {
          this.errors = null;
          throw new Error();
        } else {
          this.errors = null;
          this.error = false;
          this.form = {
            name: null,
            email: null,
            subject: null,
            message: null,
          };
          this.sent = true;
        }

      } catch (e) {
        this.error = true;
      } finally {
        this.sending = false;
      }
    }
  }
}
</script>

<style scoped lang="scss">
.message_sent {
  color: green;
  font-size: 25px
}

.message_sending_error {
  color: red;
  font-size: 25px
}

.form_error_item {
  color: red;
}

.social {
  margin: 0 auto;
  width: 13.5rem;

  a:first-child {
    margin-right: 20px;
  }
}

.copyright {
  margin: 0 auto;
  color: white;
  width: 22rem;
  font-size: 0.8rem;
}
</style>
