<template>
  <div class="general_section" id="general_ref_id">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 text-center animation-element slide-in-left in-view">
          <div class="general_overlay_container" style="">
            <h1 class="big-text">
            <span>
            A L G O R I T H M S <span class="colored">\\</span>
              </span>
              <span class="small-text" style="display: block">A V A I L A B L E&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;N O W</span>
            </h1>
          </div>
        </div>

        <div class="col-md-6 charts">
          <div class="col-md-5 col-md-offset-1 demo-card" v-for="(chart,index) in chartConfigs" :key="chart.id">
            <div class="overlay_el">
              <div class="overlay" v-if="chart.data.raw.optionInfo.enabled">
                <p class="name">
                  <span class="colored-light">O</span>PTION {{ chart.optionId === 4 ? 'X' : chart.optionId }}<br/>
                  <span class="month">{{ getPreviousMonth(chart.data.raw.optionInfo.from) }} <span
                      v-bind:style="{color: chart.data.raw.optionInfo.previous > 0 ? 'green' : 'red'}">{{
                      percentFormatted(chart.data.raw.optionInfo.previous)
                    }}%</span></span>
                </p>
              </div>
              <div v-else class="overlay active">
                <p class="name">
                  Api not connected
                </p>
              </div>

              <div class="chart-responsive" v-bind:class="chartResponsiveCls(index+1)">
                <vue3-chart-js v-if="chart.data.raw.optionInfo.enabled"
                               :style="{height: '100%', maxHeight:'100%'}"
                               :id="chart.id"
                               :type="chart.type"
                               :data="chart.data"
                               :options="options"
                ></vue3-chart-js>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue3ChartJs from '@j-t-mcc/vue3-chartjs'

export default {
  name: 'General',
  components: {
    Vue3ChartJs,
  },
  async created() {
    for (const option of [1, 2, 3, 4]) {
      const data = await this.getChartData(option);

      this.chartConfigs.push({
        optionId: option,
        id: 'chart_options_' + option,
        type: 'line',
        data: data,
        options: this.options
      });
    }
  },
  data() {
    return {
      chartConfigs: [],
      additionalChartConfig: {
        solidLineOptions: ['1'],
        chartColors: {
          '1': '#3BBDCB',
          '2': '#6B922F',
          '3': '#f0ff01',
          '4': '#00B64B',
        },
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          x: {
            display: false,
          },
          y: {
            display: false,
          }
        },
        plugins: {
          legend: {
            display: false,
          },
        },
      },
      chartData: {
        labels: [],
        datasets: [],
        raw: {},
      },
      optionInfo: {},
      loaded: false,
      monthNames: {
        0: 'January',
        1: 'February',
        2: 'March',
        3: 'April',
        4: 'May',
        5: 'June',
        6: 'July',
        7: 'August',
        8: 'September',
        9: 'October',
        10: 'November',
        11: 'December',
      }
    };
  },
  methods: {
    chartResponsiveCls(chartId) {
      const cls = 'chart-responsive-' + chartId;
      const list = {};
      list[cls] = true;

      return list;
    },
    getPreviousMonth(date) {
      const dateArray = date.split('/');
      const dt = new Date(parseInt(dateArray[2]), parseInt(dateArray[1]) - 1, parseInt(dateArray[0]));

      dt.setMonth(dt.getMonth() - 1);

      return this.monthNames[dt.getMonth()];
    },
    percentFormatted(percent) {
      if (percent > 0) {
        return '+' + percent;
      } else {
        return percent;
      }
    },
    async getChartData(option) {
      try {
        const response = await fetch(this.insiderApi + 'investments/chart/option/' + option, {
          headers: {
            'Accept': 'application/json',
          },
          credentials: 'include',
        });

        return this.prepareChartData((await response.json()).data, option)
      } catch (e) {
        return {
          raw: {
            optionInfo: {
              enabled: false
            }
          }
        };
      }
    },
    prepareChartData(chart, option) {
      if (!chart.optionInfo.enabled) {
        return {raw: chart};
      }

      const borderDash = this.additionalChartConfig
          .solidLineOptions
          .includes(option) ?
          [] : [6, 5];
      const borderWidth = borderDash ? 2 : 1;

      const datasets = [];

      datasets.push({
        backgroundColor: this.additionalChartConfig.chartColors[option],
        borderColor: this.additionalChartConfig.chartColors[option],
        data: chart.ttl,
        fill: false,
        borderWidth: borderWidth,
        borderDash: [6,0],
        pointRadius: 0
      });

      return {
        labels: chart.days,
        datasets: datasets,
        raw: chart,
      };
    },
  },
}
</script>

<style lang="scss" scoped>
.general_section {
  padding: 25vh 5vh;
  display: block;
  font-family: Agency, Montserrat, sans-serif !important;;
}

.general_section .col-md-6:first-of-type {
  padding: 10% 0;
}

.animation-element.slide-in-left.in-view {
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.in-view {
  opacity: 1;
  z-index: 5;
}

.animation-element.slide-in-left {
  -moz-transform: translate3d(-25px, 0px, 0px);
  -webkit-transform: translate3d(-25px, 0px, 0px);
  -o-transform: translate(-25px, 0px);
  -ms-transform: translate(-25px, 0px);
  transform: translate3d(-25px, 0px, 0px);
}

.animation-element {
  opacity: 0;
  position: relative;
  transition: all 900ms ease;
}

.general_overlay_container {
  text-align: left !important;
  margin: 0 auto;
  width: 31.5vw
}

.big-text, .big-text .colored {
  font-size: 4.5vw !important;
  font-weight: normal !important;
}

.big-text .small-text {
  font-size: 2vw;
}

.big-text {
  color: white;
}

h1 {
  font-family: Agency-Bold, Montserrat, sans-serif !important;
}

.colored {
  color: #d71414;
}

.general_section .demo-card {
  margin: 0 15px 30px 15px;
  padding: 0;
}

.general_section .col-md-6 {
  width: 50%;
  float: left;
}

.general_section .col-md-5 {
  float: left;
  width: 41.66666667%;

}

.general_section a {
  color: #fff;
  font-family: Agency, Montserrat, sans-serif !important;
  text-decoration: none;
}

.general_section .overlay {
  background: url(../assets/images/bg.png);
  position: absolute;
  width: 0;
  height: 100%;
  border-left: 2px solid #d71414;
  left: 0;
  top: 0;
  padding-top: 23%;
  transition: 0.4s;
}

.general_section .name {
  font-family: Agency, Montserrat, sans-serif !important;
  font-size: 2.5vw;
  transition: 0.2s;
  color: #FFF;
  opacity: 0;
  margin-left: 10%;
  line-height: 2.5vw !important;
}

.general_section .name .month {
  display: block;
  color: #777777;
  font-size: 1.5vw;
}

.general_section .demo-card .overlay_el:hover .overlay, .general_section .demo-card .overlay.active {
  width: 100%;
  border-width: 5px;
}

.general_section .demo-card .overlay_el:hover .name, .general_section .demo-card .overlay.active .name {
  opacity: 1;
  transition-delay: 0.2s;
}

.general_section .colored-light {
  color: #d71414;
}

.general_section .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.general_section .chart-responsive {
  display: block;
  max-width: 100%;
  height: 11.1vw;
  max-height: 11.1vw;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
  background-position: center;
}

.chart-responsive-1 {
  background-image: url('../assets/images/options/option-1.jpg');
}

.chart-responsive-2 {
  background-image: url('../assets/images/options/option-2.jpg');
}

.chart-responsive-3 {
  background-image: url('../assets/images/options/option-3.jpg');
}

.chart-responsive-4 {
  background-image: url('../assets/images/options/option-x.jpg');
}


@media (max-width: 1000px) {
  .general_section .demo-card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .general_section .demo-card.long {
    margin-left: auto !important;
  }

  .general_section .col-md-6 {
    width: 100%;
  }
}


@media (max-width: 767px) {
  .demo-card {
    margin: 0 auto 25px !important;
    width: 70vw !important;
    float: none !important;
  }

  .general {
    padding: 5vh 2vh !important;
  }

  .big-text, .big-text .colored {
    font-size: 10vw !important;
  }

  .big-text .small-text {
    font-size: 4.5vw !important;
  }

  .general_section .chart-responsive {
    height: 51.65vw;
    max-height: 51.65vw;
    min-width: 70vw !important;
    width: 70vw !important;
    max-width: 70vw !important;
  }

  .general_section .name {
    font-size: 9vw !important;
    line-height: 10vw !important;
  }

  .general_section .name .month {
    font-size: 6vw;
  }

  .general_section .overlay {
    padding-top: 26%;
  }


  .general_section .demo-card .overlay_el:hover .overlay, .general_section .demo-card .overlay.active {
    width: 70vw !important;
    min-width: 70vw !important;
  }

  .general_overlay_container {
    width: 69.5vw;
  }
}

.charts {
  z-index: 2;
}
</style>