<template>
  <div v-bind:class="clsRootHeader">
    <div class="header-container" ref="header">
      <div class="hidden-header"></div>
      <header class="header-area formobile-menu header--transparent default-color" v-bind:class="clsHeader"
              v-bind:style="{transition: 'margin-top '+transitionSpeed+'s !important', position: cssHeaderPosition + ' !important'}">
        <div class="header-wrapper" id="header-wrapper">
          <div class="header-left">
            <div class="logo">
              <img src="@/assets/images/logo/Atlas-logo-menu.png"
                   alt="Atlas Dex Swap">
            </div>
            <div class="header-btn">
              <span class="btn-default btn-border btn-opacity swap-button" @click.prevent="openMobileMenu">Menu</span>
            </div>
          </div>
          <div class="header-right">
            <nav class="mainmenunav d-none d-md-block" v-bind:class="{'mainmenunav-mobile': mobileMenu}">
              <ul class="mainmenu">
                <li @click.prevent="scrollTo('main_ref_id')">Home</li>
                <li @click.prevent="scrollTo('about_ref_id')">Media</li>
                <li @click.prevent="scrollTo('ecosystem_ref_id')">Ecosystem</li>
                <li @click.prevent="scrollTo('spacer_ref_id')">Insider Protocol</li>
                <li @click.prevent="scrollTo('general_ref_id')">Algorithms</li>
                <li @click.prevent="scrollTo('contact_ref_id')">Contact</li>
                <li v-if="animationActive && !animationDisabled" @click.prevent="animationOff">
                  Animation off
                </li>
                <li v-if="animationActive && animationDisabled" @click.prevent="animationOn">
                  Animation on
                </li>
                <li class="close-mobile-menu" @click.prevent="closeMobileMenu">Close</li>
              </ul>
            </nav>
            <div class="header-btn">
              <a class="btn-default btn-border btn-opacity swap-button" target="_blank"
                 href="https://app.atlasdexswap.com">
                <span>Switch to swap</span>
              </a>
            </div>
            <div class="humberger-menu d-block d-lg-none pl--20 pl_sm--10">
                    <span class="menutrigger text-white">
                        <i data-feather="menu"></i>
                    </span>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
</template>

<script>
import Cookies from 'js-cookie'

export default {
  name: 'Header',
  data() {
    return {
      animationActive: false,
      animationDisabled: false,
      clsHeader: {},
      clsRootHeader: {},
      cssHeaderPosition: 'absolute',
      avgSrollList: [],
      avgScrollValue: 0,
      mobileMenu: false
    }
  },
  mounted() {
    this.animationActive = this.isAnimationActive();
    this.animationDisabled = Cookies.get('animation_haze_disabled') !== undefined;
  },
  created() {
    window.app = this;

    window.addEventListener('scroll', this.handleScroll);

    const checkScrollSpeed = (function (settings) {
      settings = settings || {};

      var lastPos, newPos, timer, delta,
          delay = settings.delay || 50; // in "ms" (higher means lower fidelity )

      function clear() {
        lastPos = null;
        delta = 0;
      }

      clear();

      return function () {
        newPos = window.scrollY;
        if (lastPos != null) { // && newPos < maxScroll
          delta = newPos - lastPos;
        }
        lastPos = newPos;
        clearTimeout(timer);
        timer = setTimeout(clear, delay);
        return delta;
      };
    })();

    window.onscroll = () => {
      const scroll = checkScrollSpeed();

      if (this.avgSrollList.length > 150) {
        this.avgSrollList = this.avgSrollList.slice(this.avgSrollList.length - 100);
      }

      this.avgSrollList.push(scroll);

      let total = 0;

      for (let i = 0; i < this.avgSrollList.length; i++) {
        total += this.avgSrollList[i];
      }

      this.avgScrollValue = total / this.avgSrollList.length;
    };
  },
  beforeUnmount() {
    window.removeEventListener('scroll', this.handleScroll);
  },
  computed: {
    transitionSpeed() {
      const absSpeed = Math.abs(this.avgScrollValue);

      if (absSpeed > 0) {
        const speed = 4 / absSpeed;

        return speed >= 3 ? 3 : speed;
      }

      return 4;
    }
  },
  methods: {
    animationOff() {
      this.animationDisabled = true;

      Cookies.set('animation_haze_disabled', 1, {expires: 365});
      window.location.reload();
    },

    animationOn() {
      this.animationDisabled = false;

      Cookies.remove('animation_haze_disabled');
      window.location.reload();
    },

    isAnimationActive() {
      return this.detectWebGL() && !this.$parent.$parent.isMobile();
    },

    detectWebGL() {
      // Check for the WebGL rendering context
      if (window.WebGLRenderingContext) {
        let canvas = document.createElement("canvas"),
            names = ["webgl", "experimental-webgl", "moz-webgl", "webkit-3d"],
            context = false;

        for (const i in names) {
          try {
            context = canvas.getContext(names[i]);
            if (context && typeof context.getParameter === "function") {
              // WebGL is enabled.
              return true;
            }
            // eslint-disable-next-line no-empty
          } catch (e) {
          }
        }

        // WebGL is supported, but disabled.
        return false;
      }

      // WebGL not supported.
      return false;
    },

    scrollTo(targetRef) {
      this.mobileMenu = false;

      this.$smoothScroll({
        scrollTo: document.getElementById(targetRef),
        duration: 1000,
        updateHistory: false
      })
    },

    handleScroll() {
      let scroll = this.offset(this.$refs.header).top - window.scrollY;

      if (scroll <= 100) {
        this.clsHeader['header-animation'] = true;
      } else /*else if (scroll >= window.innerHeight)*/ {
        this.clsHeader['header-animation'] = false;
      }

      if (this.offset(document.getElementById('landing_container')).top - window.scrollY <= 0) {
        this.clsRootHeader['header_root_fixed'] = true;
        this.cssHeaderPosition = 'fixed';
      } else {
        if (!this.mobileMenu) {
          this.clsRootHeader['header_root_fixed'] = false;
        }

        this.cssHeaderPosition = 'absolute';
      }
    },

    offset(el) {
      const rect = el.getBoundingClientRect(),
          scrollLeft = window.pageXOffset || document.documentElement.scrollLeft,
          scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      return {top: rect.top + scrollTop, left: rect.left + scrollLeft}
    },

    openMobileMenu() {
      this.mobileMenu = true;
      this.clsRootHeader['header_root_fixed'] = true;
    },

    closeMobileMenu() {
      this.mobileMenu = false;

      if (this.cssHeaderPosition === 'absolute') {
        this.clsRootHeader['header_root_fixed'] = false;
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.header_root_fixed {
  position: fixed !important;
  z-index: 6;
  top: 0;
}

.header-area {
  background-color: rgb(28 28 28 / 50%) !important;
}

.header-container {
  .header-area.header--transparent .header-wrapper {
    padding: 0 0 !important;
    height: 80px;
  }

  position: relative;
  height: 80px;
  /* background-color: #101010;*/
  z-index: 1 !important;

  .hidden-header {
    height: 80px;
    width: 100%;
    position: absolute !important;
    margin-top: -80px;
    /* margin-top: 0;*/
    z-index: 1 !important;
    background-color: #101010;
  }

  .header-area {
    position: absolute !important;
    margin-top: -80px;
    /*margin-top: 0;*/
    transition: margin-top 2s !important;
    z-index: 0 !important;
    /*z-index: 1 !important;*/
  }

  .header-animation {
    /*position: fixed !important;*/
    margin-top: 0;
  }

  .swap-button {
    background-color: #1E59B3 !important;
    border: none !important;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 15px;
    padding: 8px 15px;
    text-transform: none;

    span {
      color: white !important;
    }

    &:hover span {
      color: rgb(83, 153, 255) !important;
    }
  }


  .mainmenunav ul.mainmenu > li {
    color: var(--color-white);
    font-size: 1rem !important;
    font-weight: 500;
    padding: 20px 0;
    display: inline-block;
    cursor: pointer;
    transition: none !important;
  }

  .mainmenunav ul.mainmenu > li:hover {
    color: var(--color-primary);
  }

  .close-mobile-menu {
    display: none !important;
  }

  .logo img {
    width: 10vw !important;
    height: 2vw !important;
    max-width: 156.9px !important;
    max-height: 29.5px !important;
  }

  .header-right .header-btn {
    margin-left: 20px !important;
  }

  .header-left .logo {
    display: block;
  }

  .header-left .header-btn {
    display: none;
  }

  .header-left .header-btn {
    cursor: pointer;

    span {
      background: white !important;
    }
  }

  .header-left .header-btn span {
    color: #101010 !important;
  }

  @media(max-width: 1400px) {
    .swap-button {
      font-size: 1.1vw !important;
    }

    .mainmenunav ul.mainmenu > li {
      font-size: 1.1vw !important;
    }
  }

  @media(max-width: 1268px) {
    .header-area.header--transparent {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  @media(max-width: 1000px) {
    .mainmenunav {
      display: none !important;
    }

    .header-left .logo {
      display: none;
    }

    .header-left .header-btn {
      display: block;
    }

    .swap-button {
      font-size: 13px !important;
    }
  }

  .mainmenunav-mobile {
    display: block !important;
    position: fixed !important;
    z-index: 2 !important;
    background: #101010 !important;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
    overflow-x: hidden !important;

    ul.mainmenu {
      display: block;
      justify-content: normal;
      width: 50vw;
      margin-left: 5vw;

      li {
        display: block;
        margin-left: 0;
        font-size: 4vw !important;
      }

      li.close-mobile-menu {
        display: block !important;
        position: absolute;
        top: 0;
        right: 10vw;
        font-size: 6vw !important;
        line-height: 6vw;
      }
    }
  }
}
</style>
