<template>
  <div class="main-container slider-wrapper active-dark" id="main_ref_id">
    <Header/>
    <div class="slider-activation">
      <div class="slide slide-style-1 slider-fixed--height d-flex align-items-center bg_image bg_image--1"
           data-black-overlay="8">
        <div class="container position-relative">
          <div class="row">
            <div class="col-lg-12">
              <div class="inner">
                <h1 class="title theme-gradient" v-bind:class="{'theme-gradient-main': !isMobile}">DEX Swap developed for privacy and easy to use.</h1>
              </div>
            </div>
          </div>
          <div class="service-wrapper service-white">
            <div class="row row--25">
              <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="service service__style--1">
                  <div class="icon">
                    <i data-feather="activity"></i>
                  </div>
                  <div class="content">
                    <h4 class="title">Zero-knowledge-proof</h4>
                    <p>This protocol methodology will solve many of the existing data privacy issues
                      quite simply
                      as well as scalability issues.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="service service__style--1">
                  <div class="icon">
                    <i data-feather="cast"></i>
                  </div>
                  <div class="content">
                    <h4 class="title">User-friendly UI</h4>
                    <p>The user-friendly SWAP service with only with the most necessary tools and
                      awesome animated background which can be switched off on slower devices.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="service service__style--1">
                  <div class="icon">
                    <i data-feather="map"></i>
                  </div>
                  <div class="content">
                    <h4 class="title">A part of a BIG ecosystem</h4>
                    <p>Atlas DEX Swap service is only part of the big products family of the entire
                      ecosystem is developing by the Mechanics of the Future team.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from './../components/Header.vue'

export default {
  name: 'Main',
  components: {Header},
  computed: {
    isMobile() {
      return /Mobi|Android/i.test(navigator.userAgent)
    }
  }
}
</script>

<style lang="scss" scoped>
.slider-wrapper {
  background: transparent;
}
</style>