<template>
  <div class="rn-brand-area ptb--120 bg_color--1 media-container" id="about_ref_id">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="section-title text-center mb--30">
            <span class="subtitle big">Media</span>
            <h2 class="title">About our products</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 mt--20">
          <ul class="brand-style-2">
            <li>
              <a href="https://cointelegraph.com/press-releases/bitcoin-trading-bot-from-insider-protocol-by-the-mechanics-of-the-future"
                 target="_blank">
                <img src="@/assets/images/media/cointelegraph-h.png" alt="Cointelegraph">
              </a>
            </li>
            <li>
              <a href="https://www.bloomberg.com/press-releases/2021-01-12/a-revolution-in-the-trading-realm-with-insider-protocol-s-bitcoin-trading-bot"
                 target="_blank">
                <img src="@/assets/images/media/bloomberg-h.png" alt="Bloomberg">
              </a>
            </li>
            <li>
              <a href="https://markets.businessinsider.com/news/stocks/game-changers-of-crypto-trading-on-bitcoin-have-announced-the-launch-of-the-algorithm-for-institutional-investors-1029970338"
                 target="_blank">
                <img src="@/assets/images/media/businessinsider-h.png" alt="Business Insider">
              </a>
            </li>
            <li>
              <a href="https://coincheckup.com/blog/bank-banned-trading-method-still-works/"
                 target="_blank">
                <img src="@/assets/images/media/coincheckup-h.png" alt="CoinCheckup Blog">
              </a>
            </li>
            <li>
              <a href="https://finance.yahoo.com/finance/news/revolution-trading-realm-insider-protocols-191000859.html"
                 target="_blank">
                <img src="@/assets/images/media/yahoo-h.png" alt="Yahoo! finance">
              </a>
            </li>
            <li>
              <a href="https://www.coinspeaker.com/insider-protocol-institutional-funds/"
                 target="_blank">
                <img src="@/assets/images/media/coinspeaker-h.png" alt="Coinspeaker">
              </a>
            </li>
            <li>
              <a href="https://cryptonews.com/news/the-first-crypto-trading-bot-with-true-results-8501.htm"
                 target="_blank">
                <img src="@/assets/images/media/cryptonews-h.png" alt="Cryptonews">
              </a>
            </li>
            <li>
              <a href="https://cryptosvet.cz/insider-protocol-recenze/"
                 target="_blank">
                <img src="@/assets/images/media/cryptosvet-h.png" alt="CryptoSvet">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Media'
}
</script>

<style scoped lang="scss">
.media-container {
  background: #101010;
}

.brand-style-2 {
  img {
    width: 350px;
    max-width: 350px;
  }
}

h2.title {
  color: white;
}
</style>