<template>
  <div class="service-area ptb--120  bg_color--5" id="ecosystem_ref_id">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <span class="subtitle">The Mechanics of the Future team’s</span>
            <h2 class="title">ecosystem services for you.</h2>
            <p class="description">Our ecosystem is a huge cross-chain project in which users can transfer
              their funds between many different networks without any restrictions.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-12 mt--30">
          <div class="row service-main-wrapper">

            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
              <div class="service service__style--2 text-left">
                <div class="icon">
                  <i data-feather="cast"></i>
                </div>
                <div class="content">
                  <h3 class="title">Insider Protocol</h3>
                  <p>The trading bot which combines different patterns in algorithms based on
                    High-Frequency Trading (HFT) and Positional Trading implemented in the
                    LAYERING trading technique..</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="service service__style--2 text-left">
                  <div class="icon">
                    <i data-feather="cast"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">Atlas DEX Swap</h3>
                    <p>Swap service brought by the MECHANICS of the FUTURE team for exchanging ERC20 based tokens and
                      participating in liquidity pools.</p>
                  </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="service service__style--2 text-left">
                  <div class="icon">
                    <i data-feather="map"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">MW-based blockchain</h3>
                    <p>Our team with an emphasis on anonymity and no possibility of tracing the transactions is
                      developing its own blockchain which is based on the MimbleWimble (MW) protocol.</p>
                  </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="service service__style--2 text-left">
                  <div class="icon">
                    <i data-feather="shield"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">Escrow Service</h3>
                    <p>P2P crypto exchanger with no commission from our side will be better alternative for
                      LocalBitcoins.</p>
                  </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="service service__style--2 text-left">
                  <div class="icon">
                    <i data-feather="codepen"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">DEFI</h3>
                    <p>We are going to bring you decentralized finance in a new way.</p>
                  </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="service service__style--2 text-left">
                  <div class="icon">
                    <i data-feather="gitlab"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">Merchant Platform</h3>
                    <p>The marketplace where the main payment asset will be crypto.</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Service'
}
</script>

<style lang="scss" scoped>
.service__style--2 {
  background: rgba(33, 36, 41, 0.3) !important;

  .title {
    color: white;
  }

  p {
    color: rgba(198, 201, 216, .75) !important;
  }
}

.service-area {
  background: transparent !important;
}

.content {
  text-align: center;
}

.section-title span.subtitle {
  line-height: 38px;
  font-size: 38px;
}

h2.title {
  color: white;
}

.section-title .description {
  color: rgba(198, 201, 216, .75);
}
</style>