<template>
  <div class="section_spacer" id="spacer_ref_id">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-lg-6 offset-md-0 bg_dark_wrap">
          <div class="heading text-white">

            <h2 class="title subtitle-top  text-white">
              Insider Protocol
            </h2>

          </div>
          <p class="heading text-white">
            By combining several trading algorithms at once in the form of variations of high-frequency trading with
            aggressive trading methods, it was possible to achieve, albeit not fabulous, but quite impressive and stable
            results.
          </p>

          <a href="https://insiderprotocol.com" target="_blank" class="btn btn-primary">Join the pool</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Spacer'
}
</script>

<style lang="scss" scoped>
.section_spacer {
  background-image: url(../assets/images/wave.png);
  position: relative;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center;
  height: 560px;
  z-index: 1;
}

.bg_dark_wrap {
  background: #1F1C27;
  padding: 60px 60px;
  border-radius: 5px;
  height: 360px;
  margin-top: 95px;
  width: 635px !important;;
}

h2 {
  font-family: "SpaceGrotesk_Bold", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-weight: bold;
  text-align: inherit;
  position: relative;
  font-size: 50px
}

.heading {
  font-size: 15px !important;
}

@media (max-width: 1199px) {
  .bg_dark_wrap {
    padding: 50px 60px;
  }

  h2 {
    font-size: 40px
  }

  .heading {
    font-size: 13px !important;
  }
}

@media (max-width: 991px) {
  h2 {
    font-size: 31px
  }

  .bg_dark_wrap {
    padding: 35px 60px;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 5vw;
  }

  .heading {
    font-size: 3vw !important;
  }

  .bg_dark_wrap {
    padding:55px 60px;
  }
}
</style>