<template>
  <div>
    <Animation ref="animation" v-on:loaded="loaded"/>
    <div class="app_cointainer" id="landing_container">
      <Main/>
      <Media/>
      <Service/>
      <Spacer/>
      <General/>
      <Contacts/>
      <Footer/>
    </div>
  </div>
</template>

<script>
import './mouse/mouse'
import Main from "./components/Main";
import Media from "./components/Media";
import Service from "./components/Service";
import Spacer from "./components/Spacer";
import General from "./components/General";
import Contacts from "./components/Contacts";
import Cookies from 'js-cookie'
import Animation from "./components/Animation";
import Footer from "./components/Footer";

export default {
  name: 'App',
  components: {
    Footer,
    Animation,
    Contacts,
    General,
    Spacer,
    Service,
    Media,
    Main,
  },
  mounted() {
    if (!this.isMobile()) {
      document.body.style.backgroundColor = '#000000'

      if (!Cookies.get('animation_haze_disabled')) {
        import ('./animation/animation');
      }
    } else {
      document.body.style.backgroundColor = '#101010'
    }
  },
  methods: {
    loaded() {
      try {
        document.getElementsByClassName('preloader_container')[0].remove();
        document.body.classList.remove('body-preloader');
      }
          // eslint-disable-next-line no-empty
      catch (e) {
      }
    },
    isMobile() {
      return /Mobi|Android/i.test(navigator.userAgent)
    }
  },
}
</script>

<style lang="scss">
@import "./assets/scss/main";

.app_cointainer {
  position: relative !important;
  background: transparent
}
</style>
